body{
    background-color: teal !important;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}